.m {
  position: absolute;
  left: 11.46%;
  right: 86.14%;
  top: 4.74%;
  bottom: 90.23%;
  width: 35px;
  height: 52px;
}

.o {
  position: absolute;
  left: 14.43%;
  right: 83.83%;
  top: 4.69%;
  bottom: 90.52%;
  width: 26px;
  height: 50px;
}

.v {
  position: absolute;
  left: 16.59%;
  right: 81.44%;
  top: 4.74%;
  bottom: 90.64%;
  height: 47.3px;
  width: 28.41px;
}

.i {
  position: absolute;
  left: 19.03%;
  right: 80.4%;
  top: 4.74%;
  bottom: 90.61%;
  height: 47.65px;
  width: 8.23px;
}

.e {
  position: absolute;
  left: 20.22%;
  right: 78.22%;
  top: 4.74%;
  bottom: 90.47%;
  height: 49.04px;
  width: 22.46px;
}

.s {
  position: absolute;
  left: 22.26%;
  right: 76.04%;
  top: 4.69%;
  bottom: 90.27%;
  height: 51.6px;
  width: 24.5px;
}

@media (max-width: 767px) {
  .m {
    position: absolute;
    left: 8.89%;
    right: 85.78%;
    top: 5.05%;
    bottom: 90.78%;
    width: 19.18px;
    height: 26.71px;
  }
  .o {
    position: absolute;
    left: 15.49%;
    right: 80.65%;
    top: 5%;
    bottom: 91.02%;
    height: 25.45px;
    width: 13.88px;
  }
  .v {
    position: absolute;
    left: 20.29%;
    right: 75.33%;
    top: 5.04%;
    bottom: 91.12%;
    height: 24.56px;
    width: 15.78px;
  }

  .i {
    position: absolute;
    left: 25.72%;
    right: 73.01%;
    top: 5.04%;
    bottom: 91.09%;
    height: 24.74px;
    width: 4.57px;
  }
  .e {
    position: absolute;
    left: 28.37%;
    right: 68.17%;
    top: 5.04%;
    bottom: 90.98%;
    height: 25.47px;
    width: 12.48px;
  }
  .s {
    position: absolute;
    left: 32.89%;
    right: 63.33%;
    top: 5%;
    bottom: 90.81%;
    height: 26.79px;
    width: 13.61px;
  }
}
