.home-background {
  background: #131313;
  background-size: cover;
  min-height: 100vh;
  margin-top: 0px;
  padding-bottom: 30px;
}

.spinner-background {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

.movie-details-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 500px;
  height: 500px;
  max-height: 605px;

  background-image: url('https://wallpaperstock.net/wallpapers/thumbs1/37537hd.jpg');
  background-size: 100% 100%;
  padding-left: 70px;
}

@media (max-width: 767px) {
  .movie-details-background {
    background-image: url('https://m.media-amazon.com/images/I/71j+jX+nBBL._AC_.jpg');
    min-height: 400px;
    height: 400px;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-left: 30px;
  }
}

.movie-details-name {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 62px;
  /* identical to box height, or 97% */

  /* General/White */

  color: #ffffff;
}

.movie-details-description {
  margin-top: 5px;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  width: 30%;

  color: #ffffff;
}

.movies-details-play-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border: 0px;

  color: #171f46;
  font-weight: 600;

  background: #ffffff;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .movie-details-description {
    width: 70%;
    font-size: 14px;
    margin-top: 3px;
    line-height: 22px;
  }
  .movie-details-name {
    font-size: 20px;
    margin-bottom: 0px;
    line-height: 50px;
  }
  .movies-details-play-button {
    padding: 8px 10px;
    font-size: 12px;
  }
}
